* {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: black;
    overflow: hidden;
  }

  .sidebar{
    position: absolute;
    top: 0pt;
    left: 0pt;
    width: 200pt;
    height: 100vh;
    background-color: #404040;
    user-select: none;
  }

  .sidebar .wrapper{
    height: calc(100vh - 80pt);
    overflow: auto;
    width: 200pt;
  }

  .main{
    position: absolute;
    left: 200pt;
    right: 0pt;
    top: 0pt;
    bottom: 0pt;
  }

  #render {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    background-color: #1e1e1e;
  }
  @media screen and (min-width: 1152px) {
    body {
      display: flex;
      align-items: flex-start;
    }
  }

  .infopanel{
    position: absolute;
    left: 10pt;
    top: 10pt;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10pt;
  }

  .info #fallback_from{
    font-size: smaller;
  }

  .info pre{
    padding-top: 0.3cm;
    padding-bottom: 0.3cm;
  }

  .title{
    color: #d2ad48;
    font-size: 18pt;
    font-style: bold;
  }

  .info .label{
    color: #d2ad48;
  }

  .info .name{
    font-style: italic;
  }

  .heightmap-selector{
    width: 300pt;
  }  

  .popup{
    position: absolute;
    top: 0pt;
    left: 0pt;
    width: 100%;
    height: 100%;
    background-color: #b0b0b0b0;
  }

  .about{
    max-width: 500pt;
    background-color: rgb(51, 51, 51);
    max-height: calc(100vh - 40pt);
    margin: auto;
    padding: 10pt;
    color: white;
    margin-top: 10pt;
    position: relative;
  }

  .about .text{
    overflow: auto;
    max-height: calc(100vh - 40pt);
  }

  .about .text p{
    margin-top: 10pt;
    margin-bottom: 10pt;
  }

  .about .text p a{
    text-decoration: underline;
    color: #d1b358;
  }

  .popup .closing_x{
    position: absolute;
    right: 5pt;
    top: 5pt;
  }

  .sidebar .closing_x{
    position: absolute;
    right: -22pt;
    top: 5pt;
  }

  .closing_x{
    width: 30pt;
    height: 30pt;
    border-radius: 50%;
    background-color: #d2ad48;
    color: white;
    text-align: center;
    font-size: 30pt;
    cursor: pointer;
    z-index:10;
  }

  .closing_x p{
    position:absolute;
    top: -4pt;
    left: 2pt;
  }

  .ui{
    position: absolute;
    left: 0pt;
    width: 100%;
    bottom: 15pt;
    font-size: 12pt;
    font-weight: 1000;      
    color: #d2ad48;
    text-align: center;
    cursor: default;
    user-select: none;
    min-width: 250pt;
  }


  .sidebar span, .ui span {
    display: inline-block;
    text-align: center;
    border: 0px;
    background-color: #333333;
  }

  .ui span{
    width: 30pt;
  }


  span.button{
    color: #776944;
  }

  span.button.enabled:hover{
    background-color: #535353;
  }

  span.button.enabled:active{
    background-color: #858585;
  }

  span.button.enabled {
    color: #d2ad48;
    cursor: pointer;
  }

  div.iconbar{
    position: absolute;
    bottom: 0pt;
    left: 0pt;
    right: 0pt;
    height: 80pt;
    background-color: #494949;
  }

  span.button.icon {
    width:15pt;
    height:15pt;
    padding: 5pt;
    margin-right: -5pt;
  }

  span.button.selected {
    background-color: #535353;
  }

  span.button.toggle.selected:hover{
    background-color: #333333;
  }

  span.button.toggle.selected:active{
    background-color: #1d1d1d;
  }

  span.button.icon img{
    width:15pt;
  }

  .ui span.text {
    width: 90pt;
  }

  .sidebar .button{
    padding: 10pt;
    margin: 10pt;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 10pt;
    width: 63pt;
  }

  .sidebar .button.fullwidth{
    width: 160pt;
    margin-left: 10pt;
    margin-right: 10pt;
  }

  .sidebar .button.small{
    width: 47pt;
    margin-left: 10pt;
    margin-right: 0pt;
    padding-left: 2pt;
    padding-right: 2pt;
    white-space: nowrap;
    font-size: smaller;
  }

  .hidden{
    display: none;
  }

  ul{
    padding-top: 20pt;
  }

  li.item{
    padding-top: 5pt;
    padding-bottom: 5pt;
    padding-left: 5pt;
    padding-right: 5pt;
    list-style-type: none;
    color: #d2ad48;
    background-color: #333333;
    margin-top: 5pt;
    margin-left: 10pt;
    margin-right: 10pt;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: clip;    
  }

  li.item.selected, li.item:hover{
    background-color: #535353;
  }

  li.gap{
    list-style-type: none;
    height: 0.5cm;
  }

  .sidebar p{
    padding-left: 10pt;
  }

  a.link{
    text-decoration: underline;
    color: #9e8d5a;
    padding-left: 2pt;
    cursor: pointer;
  }

  .loader{
    position: absolute;
    top: 0pt;
    left: 0pt;
    width: 100%;
    height: 100%;
    background-color: #b0b0b0b0;
  }

  .loader.hidden{
    display: none;
  }

  .loader .spinner{
    position: absolute;
    left: calc(50vw - 60px);
    top: calc(50vh - 60px);
    opacity: 1;
    border: 16px solid #5c5b5b;
    border-radius: 50%;
    border-top: 16px solid #e2932d;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;  
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }