* {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: black;
  }

  .sidebar{
    width: 200pt;
    height: 100vh;
    background-color: #404040;
    user-select: none;
    float: left;
  }

  .main{
    width: calc(100% - 200pt);
    height: 100vh;
    float: right;
  }

  #render {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    background-color: #1e1e1e;
  }
  @media screen and (min-width: 1152px) {
    body {
      display: flex;
      align-items: flex-start;
    }
  }

  .ui{
    position: absolute;
    left: 200pt;
    width: calc(100vw - 200pt);
    bottom: 15pt;
    font-size: 12pt;
    font-weight: 1000;      
    color: #d2ad48;
    text-align: center;
    cursor: default;
    user-select: none;
  }


  span {
    display: inline-block;
    text-align: center;
    border: 0px;
    background-color: #333333;
  }

  .ui span{
    width: 30pt;
  }

  span.button{
    color: #776944;
  }

  span.button.enabled:hover{
    background-color: #535353;
  }

  span.button.enabled {
    color: #d2ad48;
    cursor: pointer;
  }

  .ui span.text {
    width: 60pt;
  }

  .sidebar .button{
    padding: 10pt;
    margin: 10pt;
    margin-right: 0;
    width: 63pt;
  }

  .sidebar li{
    padding-top: 5pt;
    padding-bottom: 5pt;
    padding-left: 10pt;
    list-style-type: none;
    color: #d2ad48;
    background-color: #333333;
    margin-top: 5pt;
    margin-left: 10pt;
    margin-right: 10pt;
    cursor: pointer;
  }

  .sidebar li:hover{
    background-color: #535353;
  }

  .loader{
    position: absolute;
    top: 0pt;
    left: 0pt;
    width: 100%;
    height: 100%;
    background-color: #b0b0b0b0;
  }

  .loader.hidden{
    display: none;
  }

  .loader .spinner{
    position: absolute;
    left: calc(50vw - 60px);
    top: calc(50vh - 60px);
    opacity: 1;
    border: 16px solid #5c5b5b;
    border-radius: 50%;
    border-top: 16px solid #e2932d;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;  
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }